<!-- Grasp Planning launch file -->

<launch>
	<group ns="RC_Grasp">
		<node pkg="rc_grasp" name="rc_grasp" type="rc_grasp">
			<param name="KukaCmdServiceName" value="/KukaNode"/>
			<param name="PG70CmdServiceName" value="/PG70"/>
			<param name="scenePath" value="/home/yonas/catkin_ws/src/rc_rsd/RC_KukaScene/Scene.wc.xml"/>
			<param name="hmiConsole" value="/rcHMI/console"/>
			<param name="idleHeight" value="0.3"/>
			<param name="graspOffset" value="0.0"/>
			<param name="graspLifted" value="0.1"/>
			<param name="xMax" value="0.15"/>
			<param name="yMax" value="0.08"/>
			<param name="gripperOpenoffset" value="0.015"/>
		</node>
	</group>
</launch>
