<!-- Vision launch file -->

<launch>
	<group ns="RC_PLC">
		<node pkg="rc_plc" name="rc_plc" type="rc_plc" output="screen">
			<param name="hmiConsole" value="/rcHMI/console"/> 
			<param name="port" value="/dev/serial/by-id/usb-FTDI_USB-RS485_Cable_FTVFYA1U-if00-port0"/> 
			<param name="baud_rate" value="19200"/>
		</node>
	</group>

	<group ns="kuka_ros">
		<node pkg="kuka_ros" name="KukaROS" type="kuka_ros" output="screen">
			<param name="CmdServiceName" value="/KukaNode"/>
			<param name="ServerIP" value="192.168.100.50"/>
			<param name="ServerPort" value="49002"/>
		</node>
	</group>

	<!--<group ns="PG70">
		<node pkg="pg70" name="PG70" type="pg70" output="screen">
			  <param name="SerialName" value="/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller_D-if00-port0"/>
		</node>
	</group>-->

	<group ns="RC_MES_Client">
		<node pkg="rc_mes_client" name="rc_mes_client" type="rc_mes_client" output="screen">
			<param name="hmiConsole" value="/rcHMI/console"/>
			<param name="mesPub" value="/rcMESClient/msgFromServer"/>
			<param name="mesSub" value="/rcMESClient/msgToServer"/>
			<param name="serverIP" value="127.0.0.1"/> <!--10.115.253.233-->
			<param name="serverPort" value="21240"/>
		</node>
	</group>

	<group ns="RC_Vision">
		<node pkg="rc_vision" name="rc_vision" type="rc_vision" output="screen">
			<param name="image_sub" value="/RC_Camera/image_rect_color"/> 
			<param name="any_brick_pub" value="/rcVision/anyBricks"/> 
			<param name="hmiConsole" value="/rcHMI/console"/> 
			<param name="getBricks_service" value="/rcVision/getBricks"/> 
			<param name="visionParamSub" value="/rcHMI/visionParam"/> 
			<param name="visionImagePub" value="/rcVision/image"/> 
			<param name="xMax" value="0.13"/>
			<param name="yMax" value="0.08"/>
		</node>
	</group>

	<group ns="RC_Grasp">
		<node pkg="rc_grasp" name="rc_grasp" type="rc_grasp" output="screen">
			<param name="KukaCmdServiceName" value="/KukaNode"/>
			<param name="PG70CmdServiceName" value="/PG70/PG70"/>
			<param name="scenePath" value="/home/yonas/catkin_ws/src/rc_rsd/RC_KukaScene/Scene.wc.xml"/>
			<param name="hmiConsole" value="/rcHMI/console"/>
			<param name="hmi_status_sub" value="/rcHMI/status"/>
			<param name="idleHeight" value="0.3"/>
			<param name="graspOffset" value="0.0025"/>
			<param name="graspLifted" value="0.1"/>
			<param name="xMax" value="0.15"/>
			<param name="yMax" value="0.08"/>
			<param name="gripperOpenoffset" value="0.014"/>
		</node>
	</group>

	<group ns="RC_Main">
		<node pkg="rc_main" name="rc_main" type="rc_main" output="screen">
			<param name="hmiConsole" value="/rcHMI/console"/>
			<param name="grabService" value="/rcGrasp/grabBrick"/>
			<param name="getBricksService" value="/rcVision/getBricks"/>
			<param name="plcService" value="/rcPLC"/>
			<param name="anyBricks_sub" value="/rcVision/anyBricks"/>
			<param name="safety_sub" value="/rcSafety/status"/>
			<param name="hmi_status_sub" value="/rcHMI/status"/>
			<param name="mesPub" value="/rcMESClient/msgToServer"/>
			<param name="mesSub" value="/rcMESClient/msgFromServer"/>
		</node>
	</group>
</launch>
